.content {
  display: flex;
  flex-direction: column;
  
  @include large {
    max-width: 1024px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  @include xlarge {
    max-width: 1366px;
  }

  .mainContent {
    background-color: #ddd;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include large {
      width: 700px;
    }

    @include xlarge {
      width: 920px;
    }

    .item {
      background-color: white;
      padding: 20px;

      h2 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.1rem;
        margin-bottom: 10px;
      }

      div {
        max-width: 280px;
        height: 300px;
        background-color: #c4c4c4;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;

        @include small {
          max-width: 560px;
        }

        @include medium {
          max-width: 728px;
          height: 250px;
        }

        @include large {
          max-width: 660px;
          height: 200px;
        }

        @include xlarge {
          max-width: 880px;
          height: 150px;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: 10px;
      }
    }
  }

  .sideContent {
    background-color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    @include large {
      width: 250px;
      height: 250px;
      margin: 30px 0;
    }

    @include xlarge {
      width: 240px;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 20px;
    }

    div {
      width: 430px;
      height: 150px;
      background-color: #c4c4c4;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 20px;

      @include large {
        width: 250px;
      }

      @include xlarge {
        width: 240px;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.3rem;
      margin-bottom: 10px;
    }
  }
}
