@import "./media.scss";

body {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.container {
    max-width: 320px;
    margin: 0 auto;

    @include small {
        max-width: 600px;
    }

    @include medium {
        max-width: 768px;    
    }

    @include large {
        max-width: 1024px;
    }

    @include xlarge {
        max-width: 1366px;
    }
}

